<div class="job-option-card">
  <div class="job-option-card__left-green-line"></div>
  <img class="job-option-card__image-circle"
    src="https://a.storyblok.com/f/160385/4bf112f0cd/datos_curiosos.jpg/m/?w=256&q=100" alt="job image">
  <div class="job-option-card__job-data-box">
    <div class="job-option-card__status-box">
      <span class="job-option-card__company-name">company x</span>
      <div class="job-option-card__new-status-box">NEW!</div>
      <div class="job-option-card__featured-status-box">FEATURED</div>
    </div>
    <p class="job-option-card__job-name">Senior Front-end developer</p>
    <div class="job-option-card__tiny-info-box">
      <p class="job-option-card__tiny-gray-info">texto 1</p>
      <p class="job-option-card__tiny-gray-info">Contrato</p>
      <p class="job-option-card__tiny-gray-info">pa todo lado</p>
    </div>
  </div>
  <div class="job-option-card__tags-box"></div>
</div>
